.wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    margin: 0 auto;
}

.cardSection {
    width: 100%;
    min-height: 100vh;
    padding: 60px 0;
    background-color: #faf5f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.sectionTitle {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: left;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.sectionTitle span {
    color: #b28b5b;
    font-weight: 600;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
}

@media (max-width: 1400px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .cardSection {
        padding: 40px 5vw;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 90%;
    }

    .cardSection {
        padding: 30px 4vw;
    }

    .sectionTitle {
        font-size: 2rem;
        width: 90%;
    }
}

@media (max-width: 426px) {
    .button {
        font-size: 12px;
        padding: 0 10px;
    }

    .button .arrowContainer {
        width: 35px;
        height: 35px;
    }
}
