.header {
    width: 100%;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    background-color: white;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 44px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    background-color: white;
    border-radius: 18px;
    height: 44px;
    align-items: center;
    padding: 0 20px;
}
@media (max-width: 1400px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

.nav ul li {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav ul li a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: black;
}

.nav ul li a:hover {
    color: #93a27c;
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .mobileMenu {
        display: flex !important;
    }
}
.mobileMenu {
    display: none;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.mobileMenu:hover {
    background-color: #93a27c;
}

.mobileMenu:hover img {
    filter: brightness(0) invert(1);
}

.mobileMenu img {
    width: 20px;
    height: 20px;
}

.mobileNav {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 20px 20px 0 0;
    padding: 20px 0;
    text-align: center;
    transition: bottom 0.4s ease-in-out;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}

.mobileNav.open {
    bottom: 0;
}

.mobileNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobileNav ul li {
    padding: 12px 0;
}

.mobileNav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
}

.iconWrapper {
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.iconWrapper:not(:last-child) {
    margin-right: 0;
}

.iconWrapper:hover {
    background-color: #93a27c;
}

.iconWrapper:hover img {
    filter: brightness(0) invert(1);
}
